<div id="<%= dom_id tool %>">
  <div>
    <strong>Name:</strong>
    <%= tool.name %>
  </div>

  <div>
    <strong>Size:</strong>
    <%= tool.size %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= tool.description %>
  </div>

</div>
